{% extends "/tm/base.html" %}
{% block title %}The Time Machine!{% endblock%}
{% block og%}
<meta property="og:title" content="{{cont.og_title(msg)}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{url}}" />
<meta property="og:image" content="https://www.estherandthai.com{{url_for('static', filename='logo.png')}}" />
{%endblock%}
{% block mainbar%}{%endblock%}
{% block body%}
<main>
    <section>
        <div class="container-fluid primary pt-2 p-4 d-flex justify-content-center">
            <div class="message-card bg-green-1 py-4 p-5">
                <div class="row mb-3">
                    {% if msg.date and msg.time %}
                        <p class="grey-6">{{cont.weekday(msg)}} | {{cont.str_date(msg)}} | {{cont.str_time(msg)}}</p>
                    {% endif %}
                    {% if msg.reply %}
                        <p>{{msg.reply}}</p>
                    {% endif %}
                </div>
                
                <div class="row">
                    {% if cont.signed_msg(msg) %}
                        <p>{{ cont.signed_msg(msg) }}</p>
                    {% endif %}
                </div> 
            </div>
        </div>  
    </section>
    <section class="context">
        <div class="container-fluid  d-flex justify-content-center">
            {% if context %}
                <div class="context-messages bg-grey-1 py-3">
                    {% if (context|first).date != msg.date %}
                        <div class ="row message context-date bg-grey-3 mx-3 p-3">
                            <div class="green-9 text-center">{{cont.str_date(context|first)}}</div>
                        </div>
                    {% endif%}
                    {% for text in context%}
                        {% if text == msg %}
                            <div class ="row d-flex flex-nowrap py-2 px-4 my-2">
                        {% else %}
                            <div class ="row d-flex flex-nowrap py-2 px-4 my-2">
                        {%endif%}
                                <div class="message-name text-nowrap grey-7">{{text.name}}: </div>
                                <div class="text-wrap message-text"><a class="normal-link" href="/timemachine/message/{{text.id}}/1">
                                    {% if text.image%}
                                        (Image)
                                    {%else%}
                                        {{text.text}}
                                    {%endif%}
                                </a></div>
                                <div class="w-auto ms-auto self-align-end time text-nowrap">{{cont.str_time(text)}}</div>
                            </div>
                        {% if text.next_date and text.date != text.next_date %}
                            <div class ="row message context-date bg-grey-3 mx-3 p-3">
                                <div class="text-center green-9">{{cont.str_next_date(text)}}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    
                    {% if master_length > rpp * page%}
                        <div class="d-flex justify-content-center"hx-get="{{'/timemachine/message/' ~id~ '/' ~(page+1)}}"
                        hx-trigger="revealed" hx-swap="afterend">
                            <img  id="spinner" class="my-indicator" src="{{url_for('static', filename='ring.svg')}}"/>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </section>
    
</main>
{% endblock%}