.context {
    text-align: left;
}

.context-messages {
    display: flex;
    justify-content: space-between;
}

.name {
    text-align:left;
}

.index-button {
    color: black;
    text-decoration: inherit;
}

.next {
    color: lightslategray;
    font-size: 14px;
}

.meta {
    text-align:right;
    font-size: 14px;
    color: lightslategrey;
    padding: 0px
}

.message{
    border: 1px #eee solid;
    padding: 10px;
}

.filters{
    font-size: 14px;
    color:grey;
    text-align:left;
}

.filters input{
    margin-bottom: 10px;
}

.primary {
    text-align: center;
    padding: 10px
}

.checkbox {
    display:inline-block;
    justify-content: center;
}

.caps-check {
    padding: 5px
}


.border {
    border:2px #eee solid;
}

.time {
    text-align: right;
    color: lightslategrey;
}

.full-height {
    height:100vh;
}

.thirty-height {
    height:30vh;
}

.result{
    border: 1px #eee solid;
    padding: 10px
}

.date {
    font-weight: bold;
    padding: 15px;
}

.result-data{
    padding:10px;
    color: lightslategray;
    font-size: 14px;
}

.searchbar{
    padding: 10px;
    text-align: center;
    justify-content: left;
}

h1 {
    text-align: center;
    padding: 10px;
}


body { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}