.context {
    text-align: left;
}

.highlight {
    background-color: lightyellow;
}

.index-card {
    max-width: 400px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.searchbar-card {
    max-width: 600px;
}

.stripe {
    height: 10px;
    max-width: 400px;
}

.btn-hide {
    opacity: 0;
    width:0px;
}

/* CSS */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  width: 150px;

}

.searchbar .button-4{
    width: 100px;
    height: 40px;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.prev {
    width: 30%;
    max-width: 100px;
}

.next {
    width: 30%;
    max-width: 100px;
}

.context-messages {
    width: 90vw;
    max-width:800px;
    border-radius: 10px;
}

.message-text {
    flex: 1;
    
}

.message-name {
    width: 30%;
    max-width: 110px;
    text-align:right;
}

.time {
    width: 30%;
    max-width: 100px;
    text-align: right;
    color: lightslategrey;
}

.message-date {
}

.index-button {
    color: black;
    text-decoration: inherit;
}

.normal-link {
    text-decoration:inherit;
    color: inherit;
}

.message-text:hover {
    text-decoration: underline;
}

.next {
    color: lightslategray;
    font-size: 14px;
}

.meta {
    text-align:right;
    font-size: 14px;
    color: lightslategrey;
    padding: 0px
}

.message{
}

.filters{
    font-size: 14px;
    color:grey;

}

.filters input{
    margin-bottom: 10px;
}

.primary {
    text-align: center;
}

.checkbox {
    display:inline-block;
    vertical-align:middle;
}

.border {
    border:2px #eee solid;
}



.full-height {
    height:100vh;
}

.thirty-height {
    height:30vh;
}

.result{
    max-width: 80%;
}

div.date-card {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* box-shadow:none; */
}

.result-data{
    padding:10px;
    color: lightslategray;
    font-size: 14px;
}

.searchbar{
    /* display: flex;
    flex-wrap: nowrap; */
}

.offwhite {
    color: #f1faee
}

.white{
    color: white;
}

.red{
    color: #e63946;
}

.card-heading{
    font-size: 20px;
    
}

.card {
    width: 800px;
    border: 0px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display:flex;
}

.message-card {
    max-width: 600px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.results-card {
    width: 90vw;
    max-width: 1200px;
    border: 0px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.date {
    width: 20%;
}

.context-date {
    border-radius: 5px;
}

.my-indicator{
    display:none;
}
.htmx-request .my-indicator{
    display:inline;
}
.htmx-request.my-indicator{
    display:inline;
}

h1 {
}

hr {
    border:1px solid;
    color: black;
    margin: 0px;
    margin-left: -20px;
    margin-right: -20px;
}


body { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    background-color: #e9ecef;
    color: #212529;
}

.green-1 {
    color: #b7efc5;
}

.green-2 {
    color: #88d4ab;
}

.green-3 {
    color: #78c6a3;
}

.green-4 {
    color: #67b99a;
}

.green-5 {
    color: #56ab91;
}

.green-6 {
    color: #469d89
}

.green-7 {
    color: #358f80;
}

.green-8 {
    color: #248277;
}

.green-9 {
    color: #14746f;
}

.green-10 {
    color: #036666;
}


.bg-green-1 {
    background-color: #b7efc5;
}

.bg-green-2 {
    background-color: #88d4ab;
}

.bg-green-3 {
    background-color: #78c6a3;
}

.bg-green-4 {
    background-color: #67b99a;
}

.bg-green-5 {
    background-color: #56ab91;
}

.bg-green-6 {
    background-color: #469d89
}

.bg-green-7 {
    background-color: #358f80;
}

.bg-green-8 {
    background-color: #248277;
}

.bg-green-9 {
    background-color: #14746f;
}

.bg-green-10 {
    background-color: #036666;
}


.grey-1 {
    color: #f8f9fa;
}

.grey-2 {
    color: #e9ecef;
}

.grey-3 {
    color: #dee2e6;
}

.grey-4 {
    color: #ced4da;
}

.grey-5 {
    color: #adb5bd;
}

.grey-6 {
    color: #6c757d
}

.grey-7 {
    color: #495057;
}

.grey-8 {
    color: #343a40;
}

.grey-9 {
    color: #212529;
}

.bg-grey-1 {
    background-color: #f8f9fa;
}

.bg-grey-2 {
    background-color: #e9ecef;
}

.bg-grey-3 {
    background-color: #dee2e6;
}

.bg-grey-4 {
    background-color: #ced4da;
}

.bg-grey-5 {
    background-color: #adb5bd;
}

.bg-grey-6 {
    background-color: #6c757d
}

.bg-grey-7 {
    background-color: #495057;
}

.bg-grey-8 {
    background-color: #343a40;
}

.bg-grey-9 {
    background-color: #212529;
}
