{% extends "/base.html" %}

{% block body_header%}
{% endblock%}

{% block searchbar%}
<section>
    <div class="container-fluid">
        <form action="/timemachine/search/1" method="get">
            <div class="row searchbar p-4">
                <div class="col-xl-auto">
                    <a class="index-button" href="/timemachine"><h4 class="white">esther and thai&apos;s text time machine!</h4></a>
                </div>
                <div class="col-xl-auto d-flex justify-content-center p-3">
                    <div class="form-group">
                        {% if terms %}
                            <input type="text" id="terms" placeholder="Search messages" name="terms" value="{{terms}}">
                        {%else%}
                            <input type="text" id="terms" placeholder="Search messages" name="terms">
                        {%endif%}
                        <button type="submit" formmethod="get" name="search" value="terms" onClick="return document.getElementById('terms').value !=''">Search</button>
                        <button type="submit" formmethod="get" name="search" value="random">Random!</button>
                    </div>
                </div>
            </div>
        </form>
        
    </div>
</section>
{%endblock%}
{% block mainbar%}
<section>
    <div class="container-fluid">
        <form class="form"action="/timemachine/search/1" method="get">
            <div class="row searchbar p-4">
                <div class="col-xl-auto">
                    <a class="index-button" href="/timemachine"><h4>esther and thai&apos;s text time machine!</h4></a>
                </div>
                <div class="col-xl-auto d-flex justify-content-center">
                    <div class="form-group">
                        {% if terms %}
                            <input type="text" id="terms" placeholder="Search messages" name="terms" value="{{terms}}">
                        {%else%}
                            <input type="text" id="terms" placeholder="Search messages" name="terms">
                        {%endif%}
                        <button type="submit" formmethod="get" name="search" value="terms" onClick="return document.getElementById('terms').value !=''">Search</button>
                        <button type="submit" formmethod="get" name="search" value="random">Random!</button>
                    </div>
                </div>
            </div>
            <div class="row filters p-3">
                <div class="col-lg-auto">
                    <div class="form-group">
                        <label for="sort_by">Sort by:</label>
                        <select class="form-control w-auto" id="sort_by" name="sort_by" value="{{args.get('sort_by')}}"
                        onchange="this.form.submit()">
                            {% if args.get('sort_by') == 'Oldest first'%}
                                <option selected>Oldest first</option>
                            {% else %}
                                <option>Oldest first</option>
                            {% endif%}
                            {% if args.get('sort_by') == 'Latest first'%}
                                <option selected>Latest first</option>
                            {% else %}
                                <option>Latest first</option>
                            {% endif%}
                            {% if args.get('sort_by') == 'Random'%}
                                <option selected>Random</option>
                            {% else %}
                                <option>Random</option>
                            {% endif%}
                            
                        </select>
                    </div>
                </div>
                <div class="col-lg-auto">
                    <div class="form-group">
                        <label for="start_date">Start:</label>
                        <input class="form-control w-auto mb-2"type="date" id="start_date" name="start_date"
                        onchange="this.form.submit()" value="{{args.get('start_date')}}">
                    </div>
                </div>
                <div class="col-lg-auto">
                    <div class="form-group">
                        <label for="end">End:</label>
                        <input class="form-control w-auto mb-2"type="date" id="end_date" name="end_date"
                        onchange="this.form.submit()" value="{{args.get('end_date')}}">
                    </div>
                </div>
                <div class="col-lg-auto mt-3 ">
                    <div class="form-check">
                        <label class="checkbox" for="caps" >Caps</label>
                        {% if args.get('caps')%}
                            <input class="checkbox" type="checkbox" value="caps" name="caps" checked=true
                            onchange="this.form.submit()">
                        {% else %}
                            <input class="checkbox" type="checkbox" value="caps" name="caps"
                            onchange="this.form.submit()">
                        {% endif%}
                        <label class="checkbox" for="strict">Strict</label>
                        {% if args.get('strict')%}
                            <input class="checkbox" type="checkbox" value="strict" name="strict" checked=true
                            onchange="this.form.submit()">
                        {% else %}
                            <input class="checkbox" type="checkbox" value="strict" name="strict"
                            onchange="this.form.submit()">
                        {% endif%}
                    </div>
                </div>
                
            </div>
        </form>
        
    </div>
</section>
{%endblock%}
