{%extends "tm/base.html"%}

{% block body_header%}
{% endblock%}

{% block bar%}
<section>
    <div class="thirty-height"></div>
    <header>
        <h1>esther and thai&apos;s text time machine!</h2>
    </header>
    <div class="container-fluid h-100 align-items-end">
        <form class=""action="/timemachine/search/1" method="get">
            <div class="row searchbar">
                <div class="col-sm-12">
                    <div class="form-group justify-content-center">
                        <input type="text" placeholder="Search messages" name="terms">
                        <button type="submit" formmethod="get" name="search" value="terms">Search</button>
                        <button type="submit" formmethod="get" name="search" value="random">Random!</button>
                    </div>
                </div>
            </div>
            <div class="row filters pt-2 h-50">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="start_date">Start:</label>
                        <input class="form-control w-auto mb-2"type="date" id="start_date" name="start_date"
                        >
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="end">End:</label>
                        <input class="form-control w-auto mb-2"type="date" id="end_date" name="end_date"
                        >
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-check">
                        <label class="checkbox" for="caps" >Caps</label>
                        <input class="checkbox mt-2" type="checkbox" value="caps" name="caps"
                            >
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-check">
                        <label class="checkbox" for="strict">Strict</label>
                        <input class="checkbox mt-2" type="checkbox" value="strict" name="strict"
                            >
                    </div>
                </div>
            </div>
        </form>
        
    </div>
</section>
{%endblock%}