{% extends "/tm/base.html" %}
{% block title %}The Time Machine!{% endblock%}
{% block mainbar%}{%endblock%}
{% block body%}
<main>
    <section>
        <div class="container-fluid primary pt-5 p-4">
            <div class="row">
                {% if msg.date and msg.time %}
                    <p><b>{{msg.weekday()}} | {{msg.str_date()}} | {{msg.str_time()}} </b></p>
                {% endif %}
                {% if msg.reply %}
                    <p>{{msg.reply}}</p>
                {% endif %}
            </div>
            
            <div class="row">
                {% if msg.signed_msg() %}
                    <p>{{ msg.signed_msg() }}</p>
                {% endif %}
            </div> 
        </div>  
    </section>
    <section class="context">
        <div class="container-fluid">
            {% if context %}
                <!-- <div class="row py-3 text-center">
                    <h2>Context</h2>
                </div> -->
                
                <div class="context_messages">
                    {% if (context|first).date != msg.date %}
                        <div class ="row message date">
                            <div class="text-center">{{(context|first).str_next_date()}}</div>
                        </div>
                    {% endif%}
                    {% for text in context%}
                        {% if text == msg %}
                            <div class = "row result highlight">
                        {% else %}
                            <div class ="row result">
                        {%endif%}
                            <div class="col-lg-1 name text-nowrap">{{text.name}}: </div>
                            <div class="col-lg-10"><a class="normal-link" href="/timemachine/message/{{text.id}}/1">{{text.text}}</a></div>
                            <div class="col-lg-1 time text-nowrap">{{text.str_time()}}</div>
                        </div>
                        {% if text.next_date and text.date != text.next_date %}
                            <div class ="row message date">
                                <div class="text-center">{{text.str_next_date()}}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    
                    {% if master_length > rpp * page%}
                        <div hx-get="{{'/timemachine/message/' ~id~ '/' ~(page+1)}}"
                        hx-trigger="revealed" hx-swap="afterend"></div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </section>
    
</main>
{% endblock%}