{% extends "/tm/base.html" %}
{% block title%}{{terms}} - Time Machine Search! {%endblock%}
{% block bar%}
<section>
    <div class="container-fluid">
        <form class="form"action="/timemachine/search/1" method="get">
            <div class="row searchbar">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="text" placeholder="Search messages" name="terms" value="{{args.get('terms')}}">
                        <button type="submit" formmethod="get" name="search" value="terms">Search</button>
                        <button type="submit" formmethod="get" name="search" value="random">Random!</button>
                    </div>
                </div>
            <div class="row filters pt-2">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="sort_by">Sort by:</label>
                        <select class="form-control w-auto" id="sort_by" name="sort_by" value="{{args.get('sort_by')}}"
                        onchange="this.form.submit()">
                            {% if args.get('sort_by') == 'Oldest first'%}
                                <option selected>Oldest first</option>
                            {% else %}
                                <option>Oldest first</option>
                            {% endif%}
                            {% if args.get('sort_by') == 'Latest first'%}
                                <option selected>Latest first</option>
                            {% else %}
                                <option>Latest first</option>
                            {% endif%}
                            {% if args.get('sort_by') == 'Random'%}
                                <option selected>Random</option>
                            {% else %}
                                <option>Random</option>
                            {% endif%}
                            
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="start_date">Start:</label>
                        <input class="form-control w-auto mb-2"type="date" id="start_date" name="start_date"
                        onchange="this.form.submit()" value="{{args.get('start_date')}}">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="end">End:</label>
                        <input class="form-control w-auto mb-2"type="date" id="end_date" name="end_date"
                        onchange="this.form.submit()" value="{{args.get('end_date')}}">
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-check">
                        <label class="checkbox" for="caps" >Caps</label>
                        {% if args.get('caps')%}
                            <input class="checkbox mt-2" type="checkbox" value="caps" name="caps" checked=true
                            onchange="this.form.submit()">
                        {% else %}
                            <input class="checkbox mt-2" type="checkbox" value="caps" name="caps"
                            onchange="this.form.submit()">
                        {% endif%}
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-check">
                        <label class="checkbox" for="strict">Strict</label>
                        {% if args.get('strict')%}
                            <input class="checkbox mt-2" type="checkbox" value="strict" name="strict" checked=true
                            onchange="this.form.submit()">
                        {% else %}
                            <input class="checkbox mt-2" type="checkbox" value="strict" name="strict"
                            onchange="this.form.submit()">
                        {% endif%}
                    </div>
                </div>
            </div>
        </form>
        
    </div>
</section>
{%endblock%}

{% block body%}
<!-- receives terms and messages -->
<main>
    <section class="result-data">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    {{messages|length}} results
                </div>
            </div>
        </div>
    </section>
    <section class="results">
        <div class="container-fluid">
            {%for msg in messages if (page - 1) * rpp <= messages.index(msg) < page * rpp %}
                <div class ="row result">
                        <div class="col-10 text-truncate">
                            {% if msg.name%}
                                <a href="{{ '/timemachine/message/%s'%msg.id}}">{{msg.signed_msg()}}</a>
                                <br/>
                                <div class="next">{{nexts[msg].text}}</div>
                            {%endif%}
                        </div>

                        <div class="col-2 meta">
                            {{msg.parentheses_date()}}
                            <br/>
                            {{msg.str_time()}}
                        </div>
                    
                </div>
            {%endfor%}
            <div hx-get="{{'/timemachine/search/%s'%(page+1)}}" hx-include=".form" 
            hx-trigger="revealed" hx-swap="afterend"></div>
        </div>
    </section>
</main>
{%endblock%}