{% extends "/base.html" %}

{% block body_header%}
<header>
    <h1>esther and thai&apos;s text time machine!</h2>
</header>
{% endblock%}

{% block bar%}
<section>
    <div class="container-fluid">
        <form action="/timemachine/search/1" method="get">
            <div class="row searchbar">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="text" placeholder="Search messages" name="terms">
                        <button type="submit" formmethod="get" name="search" value="terms">Search</button>
                        <button type="submit" formmethod="get" name="search" value="random">Random!</button>
                    </div>
                </div>
        </form>
        
    </div>
</section>
{%endblock%}
